# general
.DS_Store
.env
*.log

# user data
backend/data/user-profiles/

# python
__pycache__/
*.pyc
.venv/
.env.*

# node
node_modules/
.next/
dist/
*.local

# database
*.db
*.db-shm
*.db-wal

# docker
*.pid
